.cancelButton,
.confirmButton {
  width: 40vw;
  max-width: 190px;
  height: 9vh;
  margin: 20px 1vw 0;
  border: none;
  border-radius: 5px;
  transition: transform 0.1s;
}
.cancelButton {
  border: 1px solid var(--link-background);
  background-color: var(--border-color);
}

.cancelButton img,
.confirmButton img {
  width: 55px;
  height: 55px;
}

.confirmButton {
  background-color:  var(--link-background);
}

.cancelButton:active,
.confirmButton:active {
  transform: translateY(1px);
}

.container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 95vw;
  border: 1px solid #3a3a3a;
  padding: 10px 15px 30px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--text-color);
  background-color: var(--border-color);
  max-width: 500px;
}

.container p {
  margin-top: 10px;
  font-style: italic;
}

.confirmation-dialog {
  text-align: center;
}
