* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --link-background: #C4E538;
  --link-color: #000000;
  --link-hover: #9AB32E;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 100vh;
  background-color: var(--background-color);
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-color);
}

.linkStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 13px 0px;
  background-color: var(--link-background);
  color: var(--link-color);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 21px;
  width: 90vw;
  max-width: 300px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.1s;
  position: relative;
}

.linkStyle:hover {
  background-color: var(--link-hover);
}

.linkStyle:active {
  transform: translateY(2px);
}

.linkStyle img {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  margin: 0 10px 0 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}